.notification,
.notification-error
{
	border: solid black 2px;
	border-radius: 1ex;
	background: lightgreen;
	padding: 1ex;
	margin: 1ex;
	position: absolute;
	left: 1ex;
	top: 1ex;

}

.notification-error {
	background: lightcoral
}

